Options All -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.*)$ $1\.php


RewriteRule ^Abm$ mba_master/vue/login [L]
RewriteRule ^Accueil_mba$ mba_master/vue/index [L]
RewriteRule ^Bureau$ admin/vue/admin [L]
RewriteRule ^Connecter$ vue/login [L]
RewriteRule ^Home$ vue/accueilMaster [L]
RewriteRule ^Register$ vue/inscription [L]
RewriteRule ^Succes$ admin/vue/login [L]


