.dropdown li a {
  color: unset;
  text-decoration: none;
}
.dropdown li a:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

#body {
  display: flex;
  flex-direction: row;
}
#body section {
  padding: 20px;
  flex-grow: 1;
  background-color: #fffefe;
  height: 500px;
}
#body .fieldset {
  width: 90%;
  padding: 20px;
  border: 1px solid #e1e1e1e0;
  box-sizing: border-box;
  margin: 40px 0px;
  position: relative;
  box-shadow: 0px 1px 3px #6862624f;
}
#body .fieldset .fieldsetTitle {
  position: absolute;
  top: -10px;
  font-size: 16px;
  width: max-content;
  background-color: white;
  color: #6549ea;
  font-weight: bold;
}
#body .fieldinput {
  width: 300px;
  border-radius: 2px;
  border: 1px solid #bbbabd82;
  margin: 10px 0px;
  box-shadow: 0px 0px 4px #808080c4;
  color: #00000096;
}
#body input[type=button] {
  appearance: unset;
  padding: 3px 15px;
  border: 1px solid #6e6e7b;
  background: linear-gradient(to right, #6322b3 -1%, #3f41b9 100%);
  color: white;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 780;
}

.dropdown {
  width: max-content;
  background-color: rgba(222, 221, 253, 0.795);
  border: 1px solid #1805ff69;
}
.dropdown li {
  padding: 5px 15px;
  border-bottom: 0.1px solid #1805ff69;
}
.dropdown li:hover {
  background: #3743eeba;
}
.dropdown li:hover a {
  color: white;
}
.dropdown li a {
  color: #1f3ddf;
  font-size: 12pt;
  font-weight: lighter;
}

.container-navigation ul li a {
  color: unset;
  text-decoration: none;
}
.container-navigation ul li a:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

.bar-navigation {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #1f1fecb3 80%, #2935eaad 100%);
  width: 100%;
  height: 50px;
}
.bar-navigation .container-item {
  box-sizing: border-box;
  width: 50%;
}
.bar-navigation .container-item div.setting {
  cursor: pointer;
}
.bar-navigation .container-item div.setting i {
  color: white;
  font-size: x-large;
}
.bar-navigation .brand {
  width: 157px;
  box-sizing: border-box;
  height: 100%;
}
.bar-navigation .brand img {
  width: 80%;
}

.container-navigation {
  display: block;
  height: 100vh;
  position: relative;
  width: 157px;
}
.container-navigation ul {
  display: block;
  position: relative;
  background: linear-gradient(180deg, #1f1fecb3 80%, #2935eaad 100%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-navigation ul li {
  display: block;
  padding: 0px;
  list-style-type: none;
  position: relative;
  height: 36px;
  width: 100%;
  border-bottom: 0.1px solid #2423232e;
}
.container-navigation ul li a {
  width: 137px;
  position: absolute;
  right: 0px;
  text-align: left;
  text-indent: 10px;
  color: #fbfafadb;
  height: 100%;
  padding-top: 4px;
}
.container-navigation ul li a:hover {
  color: #2f23bfd4;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}
.container-navigation ul li .active {
  color: #2f23bfd4;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

/*# sourceMappingURL=main.css.map */
