body{
    margin-top: 30px !important;
    background: grey;
  }
  .image_logo_mba{
    width: 400px;
    height: 150px;
  }
  .image_logo_mba img{
    width: 100%;
    height: 100%;
  }
  @keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
  }
  .register-right{
    border:none;
   background: linear-gradient(to right,deepskyblue,blue);
    padding: 50px;
    border-top-left-radius: 12%  50%;
    border-bottom-left-radius: 12%  50%;
    border-top-right-radius: 12%  50%;
    border-bottom-right-radius: 12%  50%;
    margin-top: 40px;
  }
  .register-right h2{
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 60px;
    font-family: fantasy;
    font-weight: bold;
    font-style: italic;
  }
  .register-form{
    padding: 20px;
  }
  .register-right .btn-primary{
    float: right;
    border-radius: 1.2rem;
    border: none;
    font-weight: 600;
    background: orange;
    width: 120px;
    color: #fff;
    padding:10px;
    margin-top: 20px
  }
  .register-right .btn-primary:hover{
    background: darkorange;
  }
  